### imagenes preprocesadas
*/NDVI*.tiff
*/NDVI*.csv
*/NDVI*.gdalinfo
images_ndvi/*/
parce_vector/atributos_map_*

### otros archivos no usados
.ipynb_checkpoints/
etc/
info_ndvi/
old/
parce_info/
test_images/
trunc_p001_ndvi/
trunc_p005_ndvi/
trunc_p020_ndvi/
